.ahd{
    display: flex;
    flex-direction: row;
}
.maindiv{
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(140deg, #EADEDB 0%, #BC70A4 50%, #BFD641 75%);
    margin-bottom: 30px;
}
.paragraph{
   font-size: 30px;
   margin-left: 10px;
   color: white;
}
a{
    color: white;
    padding: 10px 20px;
}
li{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    margin-right: 15px;
}
@media only screen and (max-width: 1020px)  {
    li{
       display: none;
    }
    .paragraph{
        font-size: 19px;
    }
}